### AIM
Yelp is a business organisation that connects people with great local businesses. On the Yelp website you can find recommendations for restaurants, home services, auto services and many local businesses near you. 

The aim of this project is to find the factors that affect a Yelp rating of a Restaurant, since a restaurant's success is affected by its reputation. The project will make use of Multiple Linear Regression to investigate the factors that affect a restaurant's Yelp rating. 

Finally, I would love to own a restaurant someday in Berlin, Germany so we would use this model to predict the Yelp rating of this restaurant even before it is opened.

### DATA

The data used in this project was collected from the Yelp website. https://www.yelp.com/dataset. The data is provided in six different files:

- `yelp_business.json`: Contains business data including location data, attributes, and categories.
- `yelp_review.json`: Contains full review text data including the user_id that wrote the review and the business_id the review is written for.
- `yelp_user.json`: User data including the user's friend mapping and all the metadata associated with the user
- `yelp_checkin.json`: Checkins on a business.
- `yelp_tip.json`: Tips written by a user on a business. Tips are shorter than reviews and tend to convey quick suggestions.
- `yelp_photo.json`: Contains photo data including the caption and classification (one of "food", "drink", "menu", "inside" or "outside").

#### Ready, Set, Go....

In [1]:
#importing pandas 
import pandas as pd

In [2]:
#Loading the files into dataframes
businesses = pd.read_json('data/yelp_business.json', lines = True)
reviews = pd.read_json('data/yelp_review.json', lines = True)
users = pd.read_json('data/yelp_user.json', lines = True)
checkins = pd.read_json('data/yelp_checkin.json', lines = True)
tips = pd.read_json('data/yelp_tip.json', lines = True)
photos = pd.read_json('data/yelp_photo.json', lines = True)

In [3]:
pd.options.display.max_columns = 60
pd.options.display.max_colwidth = 500

#### Inspecting the businesses dataframe

In [6]:
#First 3 rows of the business dataframe
businesses.head(3)

,address,alcohol?,attributes,business_id,categories,city,good_for_kids,has_bike_parking,has_wifi,hours,is_open,latitude,longitude,name,neighborhood,postal_code,price_range,review_count,stars,state,take_reservations,takes_credit_cards
0,1314 44 Avenue NE,0,"{'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}', 'GoodForKids': 'True', 'HasTV': 'True', 'NoiseLevel': 'average', 'OutdoorSeating': 'False', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery': 'False', 'RestaurantsGoodForGroups': 'True', 'RestaurantsPriceRange2': '2', 'RestaurantsReservations': 'True', 'RestaurantsTakeOut': 'True'}",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel",Calgary,1,0,0,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,2,24,4.0,AB,1,1
1,,0,"{'Alcohol': 'none', 'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}', 'Caters': 'True', 'DogsAllowed': 'True', 'DriveThru': 'False', 'GoodForKids': 'True', 'GoodForMeal': '{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'breakfast': False, 'brunch': False}', 'HasTV': 'False', 'OutdoorSeating': 'True', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery'...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendors, Barbeque, Food Trucks, Food, Restaurants, Event Planning & Services",Henderson,1,0,0,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0', 'Sunday': '17:0-23:0'}",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,2,3,4.5,NV,0,1
2,1335 rue Beaubien E,1,"{'Alcohol': 'beer_and_wine', 'Ambience': '{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}', 'BikeParking': 'True', 'BusinessAcceptsCreditCards': 'False', 'BusinessParking': '{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}', 'Caters': 'False', 'GoodForKids': 'True', 'GoodForMeal': '{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'breakfa...",O8S5hYJ1SMc8fA4QBtVujA,"Breakfast & Brunch, Restaurants, French, Sandwiches, Cafes",Montréal,1,1,1,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0', 'Wednesday': '10:0-22:0', 'Thursday': '10:0-22:0', 'Friday': '10:0-22:0', 'Saturday': '10:0-22:0', 'Sunday': '10:0-22:0'}",0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,2,5,4.0,QC,1,0

In [5]:
#Buisness dataframe information
businesses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   address             188593 non-null  object
 1   alcohol?            188593 non-null  int64
 2   attributes          162807 non-null  object
 3   business_id         188593 non-null  object
 4   categories          188052 non-null  object
 5   city                188593 non-null  object
 6   good_for_kids       188593 non-null  int64
 7   has_bike_parking    188593 non-null  int64
 8   has_wifi            188593 non-null  int64
 9   hours               143791 non-null  object
 10  is_open             188593 non-null  int64
 11  latitude            188587 non-null  float64
 12  longitude           188587 non-null  float64
 13  name                188593 non-null  object
 14  neighborhood        188593 non-null  object
 15  postal_code         188593 non-null  object
 16  price_range         188593 non-null  int64
 17  review_count        188593 non-null  int64
 18  stars               188593 non-null  float64
 19  state               188593 non-null  object
 20  take_reservations   188593 non-null  int64
 21  takes_credit_cards  188593 non-null  int64
dtypes: float64(3), int64(9), object(10)
memory usage: 31.7+ MB

#### Inspecting the reviews dataframe

In [8]:
reviews.head()

,business_id,average_review_age,average_review_length,average_review_sentiment,number_funny_votes,number_cool_votes,number_useful_votes
0,--1UhMGODdWsrMastO9DZw,524.458333,466.208333,0.808638,1,16,15
1,--6MefnULPED_I942VcFNA,1199.589744,785.205128,0.669126,27,32,53
2,--7zmmkVg-IMGaXbuVd0SQ,717.851852,536.592593,0.820837,29,52,81
3,--8LPVSo5i0Oo61X01sV9A,751.750000,478.250000,0.170925,0,0,9
4,--9QQLMTbFzLJ_oT-ON3Xw,978.727273,436.181818,0.562264,3,4,7

In [9]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   business_id               188593 non-null  object
 1   average_review_age        188593 non-null  float64
 2   average_review_length     188593 non-null  float64
 3   average_review_sentiment  188593 non-null  float64
 4   number_funny_votes        188593 non-null  int64
 5   number_cool_votes         188593 non-null  int64
 6   number_useful_votes       188593 non-null  int64
dtypes: float64(3), int64(3), object(1)
memory usage: 10.1+ MB

#### Inspecting the users dataframe

In [10]:
users.head()

,business_id,average_number_friends,average_days_on_yelp,average_number_fans,average_review_count,average_number_years_elite
0,--1UhMGODdWsrMastO9DZw,18.791667,1789.750000,1.833333,57.541667,0.833333
1,--6MefnULPED_I942VcFNA,214.564103,2039.948718,49.256410,332.743590,1.769231
2,--7zmmkVg-IMGaXbuVd0SQ,126.185185,1992.796296,19.222222,208.962963,1.814815
3,--8LPVSo5i0Oo61X01sV9A,25.250000,2095.750000,0.500000,7.500000,0.000000
4,--9QQLMTbFzLJ_oT-ON3Xw,52.454545,1804.636364,1.000000,34.636364,0.090909

In [11]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 6 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   business_id                 188593 non-null  object
 1   average_number_friends      188593 non-null  float64
 2   average_days_on_yelp        188593 non-null  float64
 3   average_number_fans         188593 non-null  float64
 4   average_review_count        188593 non-null  float64
 5   average_number_years_elite  188593 non-null  float64
dtypes: float64(5), object(1)
memory usage: 8.6+ MB

#### Inspecting the checkins dataframe

In [12]:
checkins.head()

,business_id,time,weekday_checkins,weekend_checkins
0,7KPBkxAOEtb3QeIL9PEErg,"{'Fri-0': 2, 'Sat-0': 1, 'Sun-0': 1, 'Wed-0': 2, 'Fri-1': 1, 'Sat-1': 3, 'Thu-1': 1, 'Wed-1': 1, 'Sat-2': 1, 'Sun-2': 2, 'Thu-2': 1, 'Wed-2': 1, 'Fri-3': 1, 'Sun-3': 3, 'Mon-4': 1, 'Thu-4': 1, 'Tue-4': 2, 'Wed-4': 2, 'Sun-6': 1, 'Wed-6': 1, 'Thu-7': 1, 'Fri-10': 3, 'Mon-10': 1, 'Sat-10': 3, 'Sun-10': 3, 'Tue-10': 2, 'Mon-11': 1, 'Thu-11': 1, 'Wed-11': 2, 'Mon-12': 1, 'Sat-12': 1, 'Tue-12': 1, 'Sat-13': 3, 'Thu-13': 1, 'Tue-13': 2, 'Wed-13': 3, 'Fri-14': 2, 'Mon-14': 1, 'Sat-14': 1, 'Sun-14':...",76,75
1,kREVIrSBbtqBhIYkTccQUg,"{'Mon-13': 1, 'Thu-13': 1, 'Sat-16': 1, 'Wed-17': 1, 'Sun-19': 1, 'Thu-20': 1, 'Sat-21': 1}",4,3
2,tJRDll5yqpZwehenzE2cSg,"{'Thu-0': 1, 'Mon-1': 1, 'Mon-12': 1, 'Sat-16': 1, 'Sun-22': 1, 'Fri-23': 1}",3,3
3,tZccfdl6JNw-j5BKnCTIQQ,"{'Sun-14': 1, 'Fri-18': 1, 'Mon-20': 1}",1,2
4,r1p7RAMzCV_6NPF0dNoR3g,"{'Sat-3': 1, 'Sun-18': 1, 'Sat-21': 1, 'Sat-23': 1, 'Thu-23': 1}",1,4

In [13]:
checkins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157075 entries, 0 to 157074
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   business_id       157075 non-null  object
 1   time              157075 non-null  object
 2   weekday_checkins  157075 non-null  int64
 3   weekend_checkins  157075 non-null  int64
dtypes: int64(2), object(2)
memory usage: 4.8+ MB

#### Inspecting the tips dataframe

In [14]:
tips.head()

              business_id  average_tip_length  number_tips
0  --1UhMGODdWsrMastO9DZw           79.000000            1
1  --6MefnULPED_I942VcFNA           49.857143           14
2  --7zmmkVg-IMGaXbuVd0SQ           52.500000           10
3  --9QQLMTbFzLJ_oT-ON3Xw          136.500000            2
4  --9e1ONYQuAa-CB_Rrw7Tw           68.064935          154

In [15]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121526 entries, 0 to 121525
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   business_id         121526 non-null  object
 1   average_tip_length  121526 non-null  float64
 2   number_tips         121526 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.8+ MB

#### Inspecting the photos dataframe

In [16]:
photos.head()

              business_id  average_caption_length  number_pics
0  --1UhMGODdWsrMastO9DZw                0.000000            1
1  --6MefnULPED_I942VcFNA               67.500000            2
2  --9e1ONYQuAa-CB_Rrw7Tw               30.426471          136
3  --DaPTJW3-tB1vP-PfdTEg                0.000000            1
4  --FBCX-N37CMYDfs790Bnw                5.500000            4

How many different businesses are in the dataset? What are the different features in the review DataFrame?

In [17]:
print('Number of different businesses in the dataset:', businesses['business_id'].nunique())

Number of different businesses in the dataset: 188593

In [21]:
print('Features of the review dataframe:\n', list(reviews.columns))

Features of the review dataframe:
 ['business_id', 'average_review_age', 'average_review_length', 'average_review_sentiment', 'number_funny_votes', 'number_cool_votes', 'number_useful_votes']

#### Merging the dataframes on the business_id columns present in all the six dataframes

In [22]:
#Performing the first merge
df = pd.merge(businesses, reviews, how = 'left', on = 'business_id')
df.head()

,address,alcohol?,attributes,business_id,categories,city,good_for_kids,has_bike_parking,has_wifi,hours,is_open,latitude,longitude,name,neighborhood,postal_code,price_range,review_count,stars,state,take_reservations,takes_credit_cards,average_review_age,average_review_length,average_review_sentiment,number_funny_votes,number_cool_votes,number_useful_votes
0,1314 44 Avenue NE,0,"{'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}', 'GoodForKids': 'True', 'HasTV': 'True', 'NoiseLevel': 'average', 'OutdoorSeating': 'False', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery': 'False', 'RestaurantsGoodForGroups': 'True', 'RestaurantsPriceRange2': '2', 'RestaurantsReservations': 'True', 'RestaurantsTakeOut': 'True'}",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Hotels & Travel",Calgary,1,0,0,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21:0', 'Thursday': '11:0-21:0', 'Friday': '11:0-21:0', 'Saturday': '11:0-21:0'}",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,2,24,4.0,AB,1,1,618.250000,532.916667,0.865342,6,5,13
1,,0,"{'Alcohol': 'none', 'BikeParking': 'False', 'BusinessAcceptsCreditCards': 'True', 'BusinessParking': '{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}', 'Caters': 'True', 'DogsAllowed': 'True', 'DriveThru': 'False', 'GoodForKids': 'True', 'GoodForMeal': '{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'breakfast': False, 'brunch': False}', 'HasTV': 'False', 'OutdoorSeating': 'True', 'RestaurantsAttire': 'casual', 'RestaurantsDelivery'...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendors, Barbeque, Food Trucks, Food, Restaurants, Event Planning & Services",Henderson,1,0,0,"{'Friday': '17:0-23:0', 'Saturday': '17:0-23:0', 'Sunday': '17:0-23:0'}",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,2,3,4.5,NV,0,1,371.666667,481.333333,0.975000,0,1,1
2,1335 rue Beaubien E,1,"{'Alcohol': 'beer_and_wine', 'Ambience': '{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}', 'BikeParking': 'True', 'BusinessAcceptsCreditCards': 'False', 'BusinessParking': '{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}', 'Caters': 'False', 'GoodForKids': 'True', 'GoodForMeal': '{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'breakfa...",O8S5hYJ1SMc8fA4QBtVujA,"Breakfast & Brunch, Restaurants, French, Sandwiches, Cafes",Montréal,1,1,1,"{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0', 'Wednesday': '10:0-22:0', 'Thursday': '10:0-22:0', 'Friday': '10:0-22:0', 'Saturday': '10:0-22:0', 'Sunday': '10:0-22:0'}",0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,2,5,4.0,QC,1,0,1106.200000,252.000000,0.301240,0,2,1
3,211 W Monroe St,0,None,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",Phoenix,0,0,0,None,1,33.449999,-112.076979,Geico Insurance,,85003,0,8,1.5,AZ,0,0,398.500000,672.625000,-0.060500,1,0,3
4,2005 Alyth Place SE,0,{'BusinessAcceptsCreditCards': 'True'},8USyCYqpScwiNEb58Bt6CA,"Home & Garden, Nurseries & Gardening, Shopping, Local Services, Automotive, Electronics Repair",Calgary,0,0,0,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', 'Wednesday': '8:0-17:0', 'Thursday': '8:0-17:0', 'Friday': '8:0-17:0'}",1,51.035591,-114.027366,Action Engine,,T2H 0N5,0,4,2.0,AB,0,1,1412.750000,1015.500000,0.372550,0,0,4

In [24]:
#performing the rest of merges
df = pd.merge(df, users, how = 'left', on = 'business_id')
df = pd.merge(df, checkins, how = 'left', on = 'business_id')
df = pd.merge(df, tips, how = 'left', on = 'business_id')
df = pd.merge(df, photos, how = 'left', on = 'business_id')

In [25]:
print(df.columns)

Index(['address', 'alcohol?', 'attributes', 'business_id', 'categories',
       'city', 'good_for_kids', 'has_bike_parking', 'has_wifi', 'hours',
       'is_open', 'latitude', 'longitude', 'name', 'neighborhood',
       'postal_code', 'price_range', 'review_count', 'stars', 'state',
       'take_reservations', 'takes_credit_cards', 'average_review_age',
       'average_review_length', 'average_review_sentiment',
       'number_funny_votes', 'number_cool_votes', 'number_useful_votes',
       'average_number_friends', 'average_days_on_yelp', 'average_number_fans',
       'average_review_count', 'average_number_years_elite', 'time',
       'weekday_checkins', 'weekend_checkins', 'average_tip_length',
       'number_tips', 'average_caption_length', 'number_pics'],
      dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188593 entries, 0 to 188592
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   address                     188593 non-null  object
 1   alcohol?                    188593 non-null  int64
 2   attributes                  162807 non-null  object
 3   business_id                 188593 non-null  object
 4   categories                  188052 non-null  object
 5   city                        188593 non-null  object
 6   good_for_kids               188593 non-null  int64
 7   has_bike_parking            188593 non-null  int64
 8   has_wifi                    188593 non-null  int64
 9   hours                       143791 non-null  object
 10  is_open                     188593 non-null  int64
 11  latitude                    188587 non-null  float64
 12  longitude                   188587 non-null  float64
 13  name                        188593 non-null  object
 14  neighborhood                188593 non-null  object
 15  postal_code                 188593 non-null  object
 16  price_range                 188593 non-null  int64
 17  review_count                188593 non-null  int64
 18  stars                       188593 non-null  float64
 19  state                       188593 non-null  object
 20  take_reservations           188593 non-null  int64
 21  takes_credit_cards          188593 non-null  int64
 22  average_review_age          188593 non-null  float64
 23  average_review_length       188593 non-null  float64
 24  average_review_sentiment    188593 non-null  float64
 25  number_funny_votes          188593 non-null  int64
 26  number_cool_votes           188593 non-null  int64
 27  number_useful_votes         188593 non-null  int64
 28  average_number_friends      188593 non-null  float64
 29  average_days_on_yelp        188593 non-null  float64
 30  average_number_fans         188593 non-null  float64
 31  average_review_count        188593 non-null  float64
 32  average_number_years_elite  188593 non-null  float64
 33  time                        157075 non-null  object
 34  weekday_checkins            157075 non-null  float64
 35  weekend_checkins            157075 non-null  float64
 36  average_tip_length          121526 non-null  float64
 37  number_tips                 121526 non-null  float64
 38  average_caption_length      32976 non-null   float64
 39  number_pics                 32976 non-null   float64
dtypes: float64(17), int64(12), object(11)
memory usage: 59.0+ MB

#### Data Cleaning

In this project and in building the regression model, preference will be given to features that are numerical that will have an effect on the target variable (. Regression models and most of machine models for that matter perform better when features are numbers. So, here all features that do not satisfy our condition will be removed.

In [37]:
#Filtering out the columns that do not satisfy our condition

cols_to_delete = []
for col in df.columns:
    if df[col].dtype == 'object':
        cols_to_delete.append(col)

In [38]:
cols_to_delete

['address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'name',
 'neighborhood',
 'postal_code',
 'state',
 'time']

There are other columns that must be deleted as well. Those will added manually to the list

In [43]:
cols_to_delete = cols_to_delete + ['is_open', 'latitude', 'longitude']

In [44]:
cols_to_delete

['address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'name',
 'neighborhood',
 'postal_code',
 'state',
 'time',
 'is_open',
 'latitude',
 'longitude']

In [45]:
df.drop(cols_to_delete, axis = 1, inplace = True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188593 entries, 0 to 188592
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   alcohol?                    188593 non-null  int64
 1   good_for_kids               188593 non-null  int64
 2   has_bike_parking            188593 non-null  int64
 3   has_wifi                    188593 non-null  int64
 4   price_range                 188593 non-null  int64
 5   review_count                188593 non-null  int64
 6   stars                       188593 non-null  float64
 7   take_reservations           188593 non-null  int64
 8   takes_credit_cards          188593 non-null  int64
 9   average_review_age          188593 non-null  float64
 10  average_review_length       188593 non-null  float64
 11  average_review_sentiment    188593 non-null  float64
 12  number_funny_votes          188593 non-null  int64
 13  number_cool_votes           188593 non-null  int64
 14  number_useful_votes         188593 non-null  int64
 15  average_number_friends      188593 non-null  float64
 16  average_days_on_yelp        188593 non-null  float64
 17  average_number_fans         188593 non-null  float64
 18  average_review_count        188593 non-null  float64
 19  average_number_years_elite  188593 non-null  float64
 20  weekday_checkins            157075 non-null  float64
 21  weekend_checkins            157075 non-null  float64
 22  average_tip_length          121526 non-null  float64
 23  number_tips                 121526 non-null  float64
 24  average_caption_length      32976 non-null   float64
 25  number_pics                 32976 non-null   float64
dtypes: float64(15), int64(11)
memory usage: 38.8 MB

In [47]:
#Cehcking for missing values
df.isna().sum()

alcohol?                           0
good_for_kids                      0
has_bike_parking                   0
has_wifi                           0
price_range                        0
review_count                       0
stars                              0
take_reservations                  0
takes_credit_cards                 0
average_review_age                 0
average_review_length              0
average_review_sentiment           0
number_funny_votes                 0
number_cool_votes                  0
number_useful_votes                0
average_number_friends             0
average_days_on_yelp               0
average_number_fans                0
average_review_count               0
average_number_years_elite         0
weekday_checkins               31518
weekend_checkins               31518
average_tip_length             67067
number_tips                    67067
average_caption_length        155617
number_pics                   155617
dtype: int64

There are a few columns with missing values. Since our dataset has no information recorded for some businesses in these columns, we will assume the Yelp pages did not display these features. For example, if there is a NaN value for number_pics, it means that the associated business did not have any pictures posted on its Yelp page. Thus we can replace all of our NaNs with 0s.

In [48]:
#Replacing the NaN values with zeros
df.fillna({'weekday_checkins': 0,
          'weekend_checkins': 0,
          'average_tip_length': 0,
          'number_tips': 0,
          'average_caption_length': 0,
          'number_pics': 0}, inplace = True)

In [49]:
df.isna().sum()

alcohol?                      0
good_for_kids                 0
has_bike_parking              0
has_wifi                      0
price_range                   0
review_count                  0
stars                         0
take_reservations             0
takes_credit_cards            0
average_review_age            0
average_review_length         0
average_review_sentiment      0
number_funny_votes            0
number_cool_votes             0
number_useful_votes           0
average_number_friends        0
average_days_on_yelp          0
average_number_fans           0
average_review_count          0
average_number_years_elite    0
weekday_checkins              0
weekend_checkins              0
average_tip_length            0
number_tips                   0
average_caption_length        0
number_pics                   0
dtype: int64

#### Exploratory Data Analysis

In [50]:
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
df.corr()

,alcohol?,good_for_kids,has_bike_parking,has_wifi,price_range,review_count,stars,take_reservations,takes_credit_cards,average_review_age,average_review_length,average_review_sentiment,number_funny_votes,number_cool_votes,number_useful_votes,average_number_friends,average_days_on_yelp,average_number_fans,average_review_count,average_number_years_elite,weekday_checkins,weekend_checkins,average_tip_length,number_tips,average_caption_length,number_pics
alcohol?,1.000000,0.305284,0.213318,0.345032,0.349004,0.259836,-0.043332,0.601670,0.190738,0.139108,0.037369,0.097188,0.117472,0.188598,0.165775,0.015261,0.129901,0.017794,0.026846,0.099141,0.094398,0.131175,0.098037,0.208856,0.305570,0.252523
good_for_kids,0.305284,1.000000,0.271788,0.258887,0.205513,0.162469,-0.030382,0.318729,0.150360,0.055847,-0.079183,0.073806,0.060658,0.113262,0.083832,0.016557,0.045057,0.024901,0.040692,0.094233,0.068960,0.079808,0.121948,0.156536,0.291413,0.175058
has_bike_parking,0.213318,0.271788,1.000000,0.235138,0.416044,0.155505,0.068084,0.160129,0.286298,-0.080443,-0.116295,0.130448,0.060595,0.114094,0.094000,0.028307,-0.045849,0.018120,0.031203,0.083062,0.082474,0.093579,0.144163,0.147115,0.180468,0.109552
has_wifi,0.345032,0.258887,0.235138,1.000000,0.240796,0.195737,-0.039857,0.312217,0.155098,-0.034258,-0.037712,0.054699,0.082213,0.147320,0.120622,0.015937,0.000448,0.023913,0.044006,0.082863,0.107467,0.126861,0.104742,0.173542,0.258938,0.210583
price_range,0.349004,0.205513,0.416044,0.240796,1.000000,0.148277,-0.052565,0.316105,0.400742,0.189623,0.003850,0.089349,0.073215,0.119422,0.098990,0.087231,0.176133,0.104221,0.122982,0.210487,0.057877,0.081321,0.129212,0.119632,0.170171,0.143570
review_count,0.259836,0.162469,0.155505,0.195737,0.148277,1.000000,0.032413,0.187755,0.119984,0.010070,0.004748,0.076265,0.548164,0.860767,0.746949,0.026206,0.050451,0.000474,-0.002576,0.014712,0.567452,0.699631,0.094133,0.844978,0.224983,0.610889
stars,-0.043332,-0.030382,0.068084,-0.039857,-0.052565,0.032413,1.000000,-0.024486,0.037748,-0.125645,-0.277081,0.782187,0.001320,0.043375,-0.000066,-0.007629,-0.038061,-0.031141,-0.066572,-0.064419,0.004130,0.007863,-0.052899,0.014038,0.000040,0.001727
take_reservations,0.601670,0.318729,0.160129,0.312217,0.316105,0.187755,-0.024486,1.000000,0.127941,0.064098,0.046331,0.086728,0.071131,0.129165,0.115583,-0.025522,0.048850,0.001131,0.010618,0.063990,0.053162,0.076183,0.084098,0.134832,0.282823,0.231242
takes_credit_cards,0.190738,0.150360,0.286298,0.155098,0.400742,0.119984,0.037748,0.127941,1.000000,0.056399,-0.081383,0.084171,0.049945,0.079879,0.077804,0.027924,0.078443,-0.007124,-0.005260,0.009551,0.047402,0.055898,0.119925,0.097700,0.103271,0.073276
average_review_age,0.139108,0.055847,-0.080443,-0.034258,0.189623,0.010070,-0.125645,0.064098,0.056399,1.000000,0.192355,0.003662,0.032199,0.031577,0.028122,0.218990,0.820888,0.243377,0.261623,0.377335,0.030324,0.035531,-0.000525,0.050846,-0.024121,-0.041140
average_review_length,0.037369,-0.079183,-0.116295,-0.037712,0.003850,0.004748,-0.277081,0.046331,-0.081383,0.192355,1.000000,-0.133078,0.027662,0.027976,0.059979,0.083495,0.178872,0.112397,0.088888,0.168261,0.000789,0.004780,0.013002,-0.004609,-0.016869,0.006024
average_review_sentiment,0.097188,0.073806,0.130448,0.054699,0.089349,0.076265,0.782187,0.086728,0.084171,0.003662,-0.133078,1.000000,0.026948,0.079057,0.035839,0.064738,0.083046,0.064385,0.045517,0.099804,0.025967,0.036676,-0.003620,0.056595,0.067912,0.044696
number_funny_votes,0.117472,0.060658,0.060595,0.082213,0.073215,0.548164,0.001320,0.071131,0.049945,0.032199,0.027662,0.026948,1.000000,0.725554,0.900795,0.045171,0.054688,0.028421,0.020624,0.034570,0.360497,0.444257,0.048625,0.507570,0.103491,0.325476
number_cool_votes,0.188598,0.113262,0.114094,0.147320,0.119422,0.860767,0.043375,0.129165,0.079879,0.031577,0.027976,0.079057,0.725554,1.000000,0.863073,0.077186,0.077668,0.050303,0.035827,0.061395,0.560654,0.684175,0.072980,0.777985,0.178104,0.554507
number_useful_votes,0.165775,0.083832,0.094000,0.120622,0.098990,0.746949,-0.000066,0.115583,0.077804,0.028122,0.059979,0.035839,0.900795,0.863073,1.000000,0.038893,0.061881,0.016645,0.006016,0.020459,0.450894,0.556973,0.091650,0.649913,0.149820,0.441297
average_number_friends,0.015261,0.016557,0.028307,0.015937,0.087231,0.026206,-0.007629,-0.025522,0.027924,0.218990,0.083495,0.064738,0.045171,0.077186,0.038893,1.000000,0.315304,0.781161,0.545940,0.525380,0.053568,0.056955,0.045507,0.060506,0.004445,0.010809
average_days_on_yelp,0.129901,0.045057,-0.045849,0.000448,0.176133,0.050451,-0.038061,0.048850,0.078443,0.820888,0.178872,0.083046,0.054688,0.077668,0.061881,0.315304,1.000000,0.320788,0.345481,0.467893,0.052168,0.060782,0.014544,0.078031,0.000783,-0.006241
average_number_fans,0.017794,0.024901,0.018120,0.023913,0.104221,0.000474,-0.031141,0.001131,-0.007124,0.243377,0.112397,0.064385,0.028421,0.050303,0.016645,0.781161,0.320788,1.000000,0.798637,0.625891,0.029287,0.031803,0.030841,0.027903,0.002738,0.001965
average_review_count,0.026846,0.040692,0.031203,0.044006,0.122982,-0.002576,-0.066572,0.010618,-0.005260,0.261623,0.088888,0.045517,0.020624,0.035827,0.006016,0.545940,0.345481,0.798637,1.000000,0.687701,0.029392,0.031895,0.032118,0.025542,0.004597,0.002460
average_number_years_elite,0.099141,0.094233,0.083062,0.082863,0.210487,0.014712,-0.064419,0.063990,0.009551,0.377335,0.168261,0.099804,0.034570,0.061395,0.020459,0.525380,0.467893,0.625891,0.687701,1.000000,0.045112,0.051960,0.059031,0.049284,0.035118,0.019713
weekday_checkins,0.094398,0.068960,0.082474,0.107467,0.057877,0.567452,0.004130,0.053162,0.047402,0.030324,0.000789,0.025967,0.360497,0.560654,0.450894,0.053568,0.052168,0.029287,0.029392,0.045112,1.000000,0.947118,0.039370,0.802160,0.088600,0.262576
weekend_checkins,0.131175,0.079808,0.093579,0.126861,0.081321,0.699631,0.007863,0.076183,0.055898,0.035531,0.004780,0.036676,0.444257,0.684175,0.556973,0.056955,0.060782,0.031803,0.031895,0.051960,0.947118,1.000000,0.042727,0.875169,0.109552,0.346862
average_tip_length,0.098037,0.121948,0.144163,0.104742,0.129212,0.094133,-0.052899,0.084098,0.119925,-0.000525,0.013002,-0.003620,0.048625,0.072980,0.091650,0.045507,0.014544,0.030841,0.032118,0.059031,0.039370,0.042727,1.000000,0.081828,0.081929,0.054535
number_tips,0.208856,0.156536,0.147115,0.173542,0.119632,0.844978,0.014038,0.134832,0.097700,0.050846,-0.004609,0.056595,0.507570,0.777985,0.649913,0.060506,0.078031,0.027903,0.025542,0.049284,0.802160,0.875169,0.081828,1.000000,0.190528,0.450343
average_caption_length,0.305570,0.291413,0.180468,0.258938,0.170171,0.224983,0.000040,0.282823,0.103271,-0.024121,-0.016869,0.067912,0.103491,0.178104,0.149820,0.004445,0.000783,0.002738,0.004597,0.035118,0.088600,0.109552,0.081929,0.190528,1.000000,0.249235
number_pics,0.252523,0.175058,0.109552,0.210583,0.143570,0.610889,0.001727,0.231242,0.073276,-0.041140,0.006024,0.044696,0.325476,0.554507,0.441297,0.010809,-0.006241,0.001965,0.002460,0.019713,0.262576,0.346862,0.054535,0.450343,0.249235,1.000000